* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: #111;
  color: #fff;
  padding: 2rem 8rem 0;
}

li {
  list-style: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left img {
  width: 500px;
}

.hello-text {
  color: #ff3b3b;
  font-weight: 600;
  font-size: 15px;
}

.heading-text {
  font-size: 50px;
}

.description {
  color: #d5d5d5;
}

.hero-btn {
  margin-top: 2rem;
}

.main-btn {
  padding: 0.9rem 3rem;
  font-size: 1.1rem;
  background: #ff3b3b;
  border: none;
  color: #fff;
}

.showcase-container {
  background: #35353532;
  margin: 0 -8rem;
  padding:50px 120px;
}

.top-showcase {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  margin-bottom: 40px;
}

.card {
  background-color: #212121;
  padding: 2rem;
  position: relative;
}

.icon svg {
  height: 300px;
  position: absolute;
  top: -6rem;
  left: -2.5rem;
}
.icon img {
  position: absolute;
}

.title {
  margin-top: 6rem;
}

.know-more {
  color: #ff3b3b;
  background: transparent;
  border: none;
  font-size: 1.1rem;
}

.card .know-more {
  margin: 2rem 0 0;
}

.bottom-showcase {
  display: flex;
  justify-content: center;
}

.first-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 8rem;
  margin-left: 8rem;
}

.experience-years {
  font-size: 8rem;
  font-weight: 700;
  color: #ff3b3b;
  line-height: 1;
}

.experience-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-right: 50px;
}

.red-card {
  background: #c91b28;
}
.red-card .know-more {
  color: #fff;
}
.count {
  font-size: 4rem;
  font-weight: 600;
  color: #ff3b3b;
}

.showcase-card {
  padding: 2rem 8rem;
  text-align: center;
  margin: 20px;
}


.project-top {
  display: flex;
  justify-content: space-between;
  
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  place-items: center;
}

.project img {
  width: 400px;
}

.project-title {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 1rem 0 0.2rem;
}

.letswork-container {
  padding: 4rem 3rem;
  margin: 5rem 0;
  background-color: #212121;

  display: flex;
  gap: 12rem;
  align-items: center;
}

.work-title {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1.2rem;
}

.footer-links {
  justify-content: center;
  color: #d5d5d5;
  margin-bottom: 3rem;
}

footer {
  display: flex;
  justify-content: space-between;
  background: #212121;
  padding: 2rem 12rem;
  margin: 0 -8rem;
}

.socials {
  display: flex;
  gap: 3rem;
  align-items: center;
  position: relative;
  right: 60px;
}

.social img {
  width: 32px;
}
